[2015-06-20 21:03] phatcher opened #4 "Tab Delimited doesn't support quotes and newlines"
From CodeProject comments...

just playing around with this and thought you should know this will throw exceptions if there are unescaped quotes and/or newlines (not CR/LF, just LF) in tab delimited csv. Seems like fairly common csv traits to me, maybe should be fixed, right?

[2015-06-27 18:42] Olivercomputing opened #5 "Link out of date"
Minor issue (would have emailed but couldn't find an address) - the link to CsvReader in the description is to https://www.nuget.org/packages/CsvReader/, which is indicated as removed. A current one is evidently https://www.nuget.org/packages/LumenWorksCsvReader/. I assume it should point there.

[2015-07-27 15:21] phatcher commented on #5
Thanks I'll update it

[2015-08-12 06:29] rocker8942 opened #6 "CurrentRecordIndex does not show the right index value"
Hi,

I'm testing this to apply Custom Error Handling Using Events Scenario following the http://www.codeproject.com/Articles/9258/A-Fast-CSV-Reader

When I extract the value from ParseErrorEventArgs e.Error.CurrentRecordIndex, the index number was not coming from the total input list rather it's coming from parse records.

E.g. if the were a problem in line 3 and 5, CurrentRecordIndex is provided

[2015-11-02 18:23] slorion opened #8 "Replacement for FastCsvReader from its author"
Hello, I am the original author of FastCsvReader. It's been a long while since I wrote that library and I had a replacement which was on Codeplex that I recently put on github. Upon seeing your project, I thought it might interest you.

You can take a look at https://github.com/slorion/nlight for the library. The CSV reader is https://github.com/slorion/nlight/blob/master/src/NLight/IO/Text/Delimi

[2015-12-10 07:36] shmutalov opened #9 "CsvReader.GetValue(s) method not works as expected, but GetXXX works perfectly"
Hello! I have some project which uses your library for loading CSV data into SQLite storage (you can see code at https://github.com/shmutalov/System.Data.Csv)

Firstly I tried to load row values by single call to CsvReader's GetValues/GetValue method. I don't know why, but it doesn't work as expected.

Then, I looked into your source (not very deep) and find that GetXXX methods have same behaviour

[2016-01-04 15:54] phatcher commented on #8
Sébastien
Thanks for the information - I'll check it out and fix up your name :-)
I'd also suggest posting this information against the original CodeProject article as it still gets traffic

[2016-01-04 15:54] #8 closed

[2016-01-04 15:55] phatcher commented on #9
Thanks for the info - I'll try and have a look at it this weekend

[2016-01-13 16:11] slorion commented on #8
I agree and I just posted an edit to the article pointing to this repository as well as my new library. Thank you again for taking the time to setup this repo.

[2016-01-16 17:20] texhex opened #11 "Link to “License file” in README.MD broken"
The link to “License file” in README.MD is broken. The correct link should be https://github.com/phatcher/CsvReader/blob/master/License.md.

Thanks for this great library.

[2016-02-05 15:56] leucospis opened #12 "Missing field not detected"
I'm using version 3.9.0.0.

In my little test program, the method **CsvReader.CopyCurrentRecordTo(string[] array)** throws LumenWorks.Framework.IO.Csv.MissingFieldCsvException in the case of example CSV 1 (below), but not in the case of example CSV 2 (below). In the case of CSV 2, as far as I can tell, the reader acts as though the third line in the file were this:

"3",""

Should I not be getting

[2016-02-13 18:43] joshgo commented on #12
@phatcher There is no tag for v3.9.0.0 in the code? Can you tag the corresponding commit?

[2016-02-14 07:21] joshgo commented on #12
Neat find.

If the sample is modified by removing the quotes, then missing field exception gets thrown as expected. If it's quoted, then no exception is thrown. Sounds like a bug.

**Sample A:** (throws exception)

"A","B"
"1","2"
3
"5","6"

**Sample B:** (no exception)

"A","B"
"1","2"
"3"
"5","6"

I created a unit test for this and submitted a PR.

[2016-02-16 05:48] joshgo opened #14 "Unit test fails in debug mode at CsvReaderIDataReaderTest.GetSchemaTableWithoutHeadersTest()"
Hi,

I was trying to run the unit tests in AppVeyor, but it seems to hang indefinitely at a certain step. See AppVeyor log here: https://ci.appveyor.com/project/joshgo/csvreader/build/1.0.0.9. As you can see, the build gets automatically killed/cancelled by AppVeyor after 1 hour.

I looked into this a little more, and I discovered that the **CsvReaderIDataReaderTest.GetSchemaTableWithoutHeader()**

[2016-02-21 16:23] joshgo commented on #12
Hi @phatcher,

I added a fix for this issue. I followed the logic of how the unquoted fields are processed, and what seemed to be missing for 'quoted fields' was a check for "end of line". Once a EOL or EOF (end of file) is detected, then we can verify if we have all the fields.

I updated my previous PR, #13. There should be 2 check-ins. The first one is for the unit test, and the other is the fi

[2016-02-21 16:32] joshgo opened #16 "AppVeyor failure"
AppVeyor seems to be not configured completely. It does not have the nunit binaries, therefore it can't run the test and detect some of the NUnit related classes. Even though AppVeyor is failing, the project is actually fine because all the unit tests are passing when you run it via nunit-console / gui.

Possible fixes are:

1. add a "nuget restore" call in AppVeyor
2. call the supplied build scri

[2016-02-21 16:54] fletchsod-developer commented on #12
Thank you for providing unit test to the source code.
On Feb 21, 2016 11:23 AM, "joshgo" <notifications@github.com> wrote:

[2016-02-22 17:49] joshgo commented on #9
Hi @shmutalov,

Do you have test code or a gist that I can look at? Or a unit test that demonstrates the issue?

Thanks,
Josh

[2016-02-23 11:11] kiran94 opened #17 "ContainsFieldHeader Method for CsvReader"
Currently if you pass an Field header that does not exist into the string indexer an ArgumentException is thrown.

Feature request is for a method to check if a field header exists in the current instance of the CsvReader object to avoid this. Much like the IDictionary.ContainsKey() in .NET

[2016-02-26 15:04] rajeev-ranjan opened #18 "SBC and MetaData example throws exception"
Code based on the example provided in documentation

    using (SqlConnection connection = new SqlConnection(connectionString)) {
              SqlBulkCopy sbc = new SqlBulkCopy(connection);
                   sbc.DestinationTableName = "CsvReaderDeaultValueTest";
                    using (LumenWorks.Framework.IO.Csv.CsvReader reader = new LumenWorks.Framework.IO.Csv.CsvReader(new StreamReader(fi

[2016-03-11 09:36] Jubilein666 opened #20 "Problems without headers and Version 3.9.0"
I have a problem with the version 3.9.0.

When i read a CSV like:

`12345678;Hello`
`78945612;World`

`using (CachedCsvReader csv = new CachedCsvReader(new StreamReader(csvFile, Encoding.Default), false, ';'))`
`myDataGridView.DataSource = csv;`

The following error message appears:

But in the version 3.8.3 it works perfectly fine.

[2016-04-09 15:44] phatcher commented on #5
Fixed

[2016-04-09 15:44] #5 closed

[2016-04-09 16:39] #17 closed

[2016-04-09 16:41] #14 closed

[2016-04-09 16:42] phatcher commented on #16
Added the "nugget restore" to the pre-build step, also updated the readme to show the nuget version and build status

[2016-04-09 16:42] #16 closed

[2016-04-09 17:17] phatcher commented on #18
Have a look at the Readme - I've extended the example to show the implementation of AddColumnMapping

[2016-04-09 17:19] phatcher commented on #12
I've pulled the changes into the main branch and published a new NuGet version

[2016-04-09 17:19] #12 closed

[2016-04-09 17:26] phatcher commented on #11
Thanks - fixed

[2016-04-09 17:26] #11 closed

[2016-04-09 20:34] phatcher commented on #20
I've attempted to reproduce this with a test in CsvReaderTests but it passes with the current code base

        [Test]
        public void CachedNoHeader()
        {
            var csv = new CachedCsvReader(new StringReader("12345678;Hello\r\n78945612;World"), false, ';');

            var dgv = new DataGridView();
            dgv.DataSource = csv;

            dgv.Refresh();
        }

Can you

[2016-04-11 08:59] phatcher commented on #18
@rajeev-ranjan  Looking at your code again, it appears you are trying to infer the majority of the headers from the source data but add an explicit column for the filename.

For the SBC usage this is not really supported since it would only work if all the columns are string, so I specify them all and then add the explicity columns afterwards.

Also your regex on the column name doesn't affect the

[2016-05-03 14:44] leucospis opened #24 "Problem related to CsvReader.SkipEmptyLines in 3.9.1.0"
If **SkipEmptyLines** is false, the **CopyCurrentRecordTo** call in the code shown below works for me on file A, but throws the LumenWorks.Framework.IO.Csv.MissingFieldCsvException exception on file B. If **SkipEmptyLines** is true, the **CopyCurrentRecordTo** call works as expected for both files.

CSV File A:
[code]
CSV File B:
[code]
C# Code:
[code]

[2016-05-16 22:13] vivekcpatel opened #25 "How to read smart quotes using csvreader?"
Hi,

I want to use CSV Reader to read a csv file that can read foreign characters ("iso-8859-1") and also smart quotes (http://practicaltypography.com/straight-and-curly-quotes.html).

For example the file looks something like this with header.

Column 1,Column 2,Column 3
"""This"" is ""My"" test ""Title""",Screenplay 'by' 'Will',"""This"" is ""My"" test ""Title"" notes notes notes"
“This” is my “

[2016-06-26 20:44] rjschulte opened #26 "Problems "without headers" using DataTable in Version 3.9.1.0"
I see an issue "Without Header " was resolved for dgv
However,  I'm getting that same error with DataTable
"Field index must be included in [0, FieldCount[. Specified field index was : '0'. "

Used your test code switch to DataTable

 var csv = new CachedCsvReader(new StringReader("12345678;Hello\r\n78945612;World"), false, ';');
              DataTable dt = new DataTable();
              dt.Load(

[2016-08-04 05:47] darrenshrwd commented on #24
I am just trying this library because I need support for preserving multi lines and I also have the same exception once I turn on SkipEmptyLines = false.  Is there a fix pending?

[2016-08-16 12:34] isolaol opened #28 "CsvReader throws MalformedCsvException when only some columns are mapped to SqlBulkCopy"
Hi,

The behavior of the CsvReader and CachedCsvReader differ from each other when only some columns are mapped to SqlBulkCopy column collection. The CsvReader class throws MalformedCsvException while CachedCsvReader works as expected. The following (simplified from real project) code snippets should reproduce the behavior:

[code]

Is this a bug or by design?

The sample input file contains two t

[2016-10-04 11:55] marklo1 commented on #26
I have the same issue. With the Version 3.8 it worked fine.

[2016-10-14 13:33] caojinbo opened #29 "how to skip first n lines"
A lot of machine generated data will have some lines (but without # as a comment). Can we call the function as csvreader (filename, lines skipped, delimiter, xxxx)?

Many thanks

[2016-10-16 23:21] michael-freidgeim-webjet opened #30 "Couldn't find Link to NuGet package on Readme page"
Your readme page should have link to NuGet. However  the image https://img.shields.io/nuget/v/LumenWorksCsvReader.svg on click just open the image itself  instead of https://www.nuget.org/packages/LumenWorksCsvReader/

[2016-12-08 16:50] Thierry-S opened #31 "Why is CsvReader forward only?"
More of a question, initially thought it was a bug.

I need to know how many lines are in my csv file.
So I did a `myCsvReader.Count()` (Linq) to get it. Of course, this moves the cursor forward to the end as it has to iterate it. But then I called `myCsvReader.GetEnumerator().Reset()` or even `myCsvReader.MoveTo(-1)` and they have no effect.

I found this line of code in `MoveTo`:
`    if (record

[2016-12-08 18:06] phatcher commented on #31
I didn't do the original design but I would guess its about two things

1. Parsing forwards is relatively easy, backwards less so,
2. Keeping all the data on the of chance you need it is expensive (think files in the 1 GB+ range)

Also,, most typical processing for CSV files is...

1. Read a row
2. Process a row
3. Next

Bear in mind there is a class included called CachedCsvReader which does allo

[2016-12-20 12:10] makersky opened #32 "Quote standards"
RFC 4180 says:
* Fields containing a line-break, **double-quote,** and/or commas **should be** quoted. (If they are not, the file will likely be impossible to process correctly).
* **A (double) quote character in a field must be represented by two (double) quote characters**.

This means that field containing only one double-quote character is represented in CSV file as """" (4 double-quote charac

[2016-12-20 12:20] makersky commented on #32
That was an issue with my configuration.

[2016-12-20 12:20] #32 closed

[2017-01-10 23:33] ukluk opened #33 "DateTime is serialize to Local Time"
The CsvReader serializer is transforming the string "2017-01-09T00:01:47.6145940Z" into local time, But I need to keep the records in UTC.

There is no way to select the DateTimeStyle in the configuration

using (var reader = new StreamReader(lakeStream))
using (var csv = new CsvReader(reader, new CsvConfiguration()
{
                    HasHeaderRecord = hasHeaderRecord,
                    Delim

[2017-01-21 16:07] PeterCodar opened #34 "How to use {ControlChars.Tab} as delimiter?"
I know this project is called CSV. I'm not sure if the C stand for Character or Comma.

How can we set a TAB as delimiter character instead of a Comma?

[2017-01-21 16:31] PeterCodar commented on #34
I found it. Code for VB.NET:
`Using csv As New LumenWorks.Framework.IO.Csv.CsvReader(New IO.StreamReader(MyImportFileName), False, ControlChars.Tab)`

[2017-01-21 16:31] #34 closed

[2017-01-28 12:10] renatobarbato opened #35 "LumenWorksCsvReader.3.9.1. not compatible with Net Core 1.1"
Hi,
I have this issue:

error: Package LumenWorksCsvReader 3.9.1 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package LumenWorksCsvReader 3.9.1 supports: net20 (.NETFramework,Version=v2.0)

[2017-01-30 14:02] MirsoH opened #36 "OutOfMemoryException with large Files?"
Hi,
with small files up to 200MB it works fine, but when i try to load an file with size 400MB and larger
i receive an OutOfMemoryException, do i miss something or have to set possible file size before load an csv into DataTable?
In my case there is an file with more than 250000 Lines and over 400MB size.
Does anyone have the same issue?
I didn define any schema.ini file before, is that what im mi

[2017-01-30 22:37] Floppixx opened #37 "[Question] Faster way to read the csv"
Hey guys and thanks for the awesome work!

Could be a ReadAllLines() method, then run a Parallel.For loop to process all the lines in parallel way faster than the used single StreamReader ?

[2017-02-03 11:29] phatcher commented on #37
Why don't you try - there's benchmarks for the existing code so you can compare performance on your machine,.

[2017-02-06 20:51] INRIX-Mark-Gershaft opened #38 "Index out of bound when reading TSV w/o header"
Problem seems to lie in the fact that Columns list is initialized to an empty list, but in object FieldValue(int i) it is checked to be not null and not checked to be an empty list causing an attempt to use Columns list for data conversion and failure to find column since list is empty.

Sample code:

                using (var streamReader = new StreamReader(_sourceBcpFilePath))
                {

[2017-02-13 03:49] mike69d commented on #36
The problem is not with the reader. I've used it with files up to 8GB (~80 million lines) and had no memory issues.
I didn't try to keep everything in memory, though. Your DataTable is the most likely culprit.

[2017-02-14 01:20] gehnster commented on #35
I'm also having this issue.

[2017-02-14 22:37] vSkullv opened #39 "Exception thrown with duplicated colum names"
Hi,

I have a csv file with duplicated column names.
When I try to read the csv the following exception is thrown "System.ArgumentException : An item with the same key has already been added."
Any ideas how I can avoid this?

Thanks

[2017-02-14 22:51] joshgo commented on #39
Did you try putting false for 'hasHeaders' ?
On Tue, Feb 14, 2017 at 5:37 PM vSkullv <notifications@github.com> wrote:

[2017-02-15 08:29] vSkullv commented on #39
Setting hasHeaders to false would definitely help but then I have to manage the headers myself (which is trivial). I was hoping that there is a magic switch that I can use.

[2017-02-15 15:54] eman1986 commented on #35
Same here, be nice to add Core support

[2017-02-16 13:25] joshgo commented on #39
You might be able to write an extension. You will still have to do the management and hasHeasers=false but at least your main code will still look nice.

`csv.GetValue("dup_col", 0);`
`csv.GetValue("dup_col", 1);`
`csv.GetValue("unique_col");`

[2017-02-16 14:58] vSkullv commented on #39
I ended up with something similar and it works now. Thanks for the help.

[2017-02-16 17:52] phatcher commented on #35
When I looked at it a few months ago it was tough as some of the API's hadn't been ported yet.

I'll take a look in March once VS 2017 is out - I can also accept a pull request if anyone wants to do the work.

The other question is whether it deserves a re-write if we have to port it to .NET Core.

[2017-02-16 17:59] phatcher commented on #39
To make it more general, you could introduce a policy that adds a suffix e.g. dup_col, dup_col1.

The default behaviour could be to throw the duplicate column exception, and then this duplicate handling policy could be added it if needed.

Problem about doing this by default is generally people's CSV files are well-formed and you want to know if they are not.

[2017-02-16 18:01] phatcher commented on #33
You could introduce something that parses it as DateTimeOffset - you have a better chance of it coping if you preserve the timezone information.

Happy to accept a pull request

[2017-02-16 18:03] phatcher commented on #28
It sounds like a bug - ISTR that SqlBulkCopy was rather strict on the DataTable it will handle e.g. column names and data types have to be aligned

Happy to take a pull-request with a fix

[2017-02-16 20:38] gehnster commented on #35
I took a look at it. I created a .NET Standard PCL and moved the code over to it. Looks like System.Data and System.ComponentModel aren't complete yet and won't be included until .NET Standard 2.0 comes out. Unfortunately .NET Standard 2.0 won't be released until Q4 2017.

[2017-02-16 21:00] vSkullv commented on #39
Makes sense.
Thanks for the clarification.

PS: I am truly amazed by the performance of the library.

[2017-02-17 22:38] joshgo commented on #38
You should submit a unit test that shows this error.

[2017-02-23 17:53] codehippie1 opened #40 "Porting to .net portable"
I am a Xamarin developer. Would you be able to port this package to PCL?

This is the error I am getting, trying to add the nuget package to my PCL project

Error	 - Could not install package 'LumenWorksCsvReader 3.9.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or cont

[2017-02-28 18:51] phatcher commented on #35
@gehnster That's the sort of thing I found out a while ago - when they decided not to include the generic ADO schema stuff it makes doing this sort of this quite tough.

As I was wondering, is it worthwhile doing a re-write to clean up the concepts etc and then limit the feature-set that's exposed by the .NET Core version?

[2017-02-28 18:53] phatcher commented on #40
See #35 as it would likely be part of that - happy to take a pull request which produces a PCL version

I think it gets tricky due to the use of the ADO.NET schema bits

[2017-03-03 19:40] jonreis commented on #39
Hello phatcher. Great library. Thank you for open sourcing it.

I am having the same issue with duplicate headers coming in. We have a mapping engine and cannot control the input data. Sometimes duplicate headers come in. In our current solution we modified the code to add the index to the header name if it is duplicated. Perhaps the user of the library could control this behavior with an event? S

[2017-03-08 06:24] gehnster commented on #35
I personally use it in a very basic way. The csv files I'm reading are no more then a couple dozen records and its not used often.

[2017-03-08 16:07] jonreis commented on #39
Thoughts on adding OnDuplicateHeader event handler? I could work on creating a pull request, or do you prefer to see this done a different way like a IColumnHeaderNamePolicy?

[2017-06-03 20:40] hugobyrne commented on #31
Just to give a real-world scenario for this. For my use I dont need to process a CSV line by line as all Im doing is loading a CSV file into a SQLserver table using SQLBulkCopy.

For large CSV files with millions of rows I really need the rowcount in advance so I can update a progressbar as the upload progresses. For larger files an upload might take 30 mins so having a progressbar is really essen

[2017-06-04 14:53] phatcher commented on #31
@hugobyrne Same reasons as before, parsing is (potentially) tough, but you could do a couple of things.

1.  Do a quick first pass that counts "\r\n" which would give you a row count if the data is not complex
2. Re-work this idea as part of CsvReader so we can have it as an option e.g. NaiveCount or EstimatedCount

[2017-06-04 14:56] phatcher commented on #31
Slightly related point, have you looked at this http://sqlblog.com/blogs/alberto_ferrari/archive/2009/11/30/sqlbulkcopy-performance-analysis.aspx, relatively old, but gives a lot of performance analysis/ideas on SqlBulkCopy

[2017-06-05 09:38] hugobyrne commented on #31
Thankyou very much Paul for the fast reply. III see what I can work out based on your advice.
And that sqlbulkcopy performance analysis is indeed very useful. There is some excellent tips in there which III be following up on.

[2017-06-09 10:40] janis-veinbergs opened #43 "GetFieldIndex returns -1 when setting custom columns and specifying hasHeaders = true"
Given I use `hasHeaders: true` for `CsvReader` constructor and want to manually specify columns with correct types, `_fieldHeaderIndexes` doesn't get populated that results in broken [GetFieldIndex](https://github.com/phatcher/CsvReader/blob/758aaa13d5ff1076c5e127b23622285faa241c99/code/LumenWorks.Framework.IO/Csv/CsvReader.cs#L828) method.

Because given `hasHeaders = true` the `_fieldHeaderIndex

[2017-06-23 16:16] BrianVallelunga commented on #43
I just ran into this bug as well. Thanks for providing a workaround.

[2017-06-26 10:39] justSteve opened #44 "Permitting line breaks within field"
I need to treat line breaks the same way quoted commas are: If a line break occurs within a field (e.g. inside quotes) do not treat it as EOR.

Possible?

thx

[2017-08-07 14:10] senco239 opened #47 "Exception parsing double-quoted fields"
Exception: "MailformedCSVException" while parsing the following file:

h1,h2,h3
aa,""bb"",cc

I expect to be able to parse this file with value for second column to be ""bb"" or bb, based on trimming Options.

[2017-09-13 15:30] IGx89 commented on #35
BTW, looks like someone's submitted a PR to convert it to .NET Standard 2.0: https://github.com/phatcher/CsvReader/pull/45

I'm using the existing version in a  .NET Core 2.0 project myself as-is, though VS gives me a warning. Having a proper .NET Standard 2.0 bundle would be ideal.

[2017-10-05 17:48] aeallord commented on #20
I'm currently seeing this issue quite frequently.

`using (var csv = new CsvReader(new StreamReader(importFile), false))
            {
                csv.MissingFieldAction = MissingFieldAction.ReplaceByNull;

                using (var bulkCopy = new SqlBulkCopy(conClient))
                {
                    bulkCopy.DestinationTableName = "[" + strDB + "_swag].[dbo].[" + targetTable + "]";

[2017-10-25 19:57] kbpatel1 commented on #47
I am experiencing similar issue, any solution for this?

[2017-12-20 15:11] bradleypatton commented on #35
Any update on this? Looks like there might be a PR to support .net standard 2.0 but there was a build failure?

[2017-12-22 07:48] yotewach opened #48 "Does it support .NET Core 2.0"
this library support dotnet core 2.0  or not ?

[2018-01-03 10:13] yotewach commented on #35
I waiting to this support

[2018-01-25 00:15] phatcher commented on #48
Current code base does, though there are some issues with the build process that I'm trying to resolve

[2018-01-25 00:18] phatcher commented on #40
@codehippie1 I've updated the project to support netstandard2.0 - is this sufficient for your use case?

[2018-01-25 00:19] phatcher commented on #35
I've updated the solution/projects to support netstandard2.0 but there are still some build issues - does build/test in VS2017 though

[2018-01-25 12:57] codehippie1 commented on #40
Net standard is the way to go. Thank you @phatcher.

[2018-01-26 11:57] firthy commented on #18
Hi,
I have the exact same issue. 'myfield' field header not found. Did you manage to resolve this?
Also GetFieldIndex returns -1

========================
                    using (var reader = new LumenWorks.Framework.IO.Csv.CsvReader(new StreamReader(stream), true))
                    {

                        reader.Columns = new List<LumenWorks.Framework.IO.Csv.Column>

[2018-01-26 13:15] #40 closed

[2018-01-27 16:25] phatcher commented on #35
@bradleypatton @yotewach @renatobarbato @gehnster @eman1986 @IGx89

I've update the projects to VS2017 and it now supports net20->461 and netstandard1.3, netstandard2.0 can check and see if there's anything missing before I push the 4.0 release

[2018-01-27 16:27] phatcher commented on #20
@aeallord Can you try now, I've merged a pull-request that might address this

[2018-01-27 16:28] phatcher commented on #39
@jonreis I think a IColumnHeaderNamePolicy is the way to go here, or may be a IColumnHeaderPolicy as that might allow us to generalise the default/override behaviour

[2018-01-27 16:29] phatcher commented on #48
@yotewach Code base now supports netstandard1.3 and netstandard2.0

[2018-01-30 09:16] phatcher commented on #43
@janis-veinbergs @BrianVallelunga Can you check the current code base, there are some fixes around this

[2018-01-30 09:20] #30 closed

[2018-01-30 09:26] phatcher commented on #18
@joeg10  @firthy For issues like this it's much easier to fix if there's a full sample e.g. code, schema and an associated data file.

There is some new code which I've merged that might address this, so can you build locally and test please

[2018-01-31 07:38] firthy commented on #18
Hi, Ive added a csv, the create table sql, and example code.
cheers,
mark
[lumen_bug.zip](https://github.com/phatcher/CsvReader/files/1680771/lumen_bug.zip)

[2018-01-31 08:00] phatcher commented on #18
@firthy Thanks for that

[2018-02-18 11:46] korneliuscode opened #51 "Start parsing at specific row"
hi, I need the capability to start parsing at a specifc row, as some of the CSV files contain certain information on top that are not the column headers. Therefore I want to skip the first few rows (row number varies). Can this be included in the library or what woul be the best approach to this?

Thanks!

[2018-02-18 12:06] uwebraunholz opened #52 "Exception in CsvReader.cs"
hi,
in CsvReader.cs, in the function `private string ReadField(int field, bool initializing, bool discardValue)`
this line `throw new ArgumentOutOfRangeException(nameof(field), field, string.Format(CultureInfo.InvariantCulture, ExceptionMessage.FieldIndexOutOfRange, field));` throws an error

According to [this](https://stackoverflow.com/questions/30558827/method-not-found-system-string-system-str

[2018-02-23 16:04] BobAmmerman commented on #31
Just use a second reader instance to go through the file a second time.

[2018-02-24 08:57] phatcher commented on #51
@uwebraunholz I'd say it's not part of the library, as it's too context dependent.

My suggestion would be to open the stream yourself and then position it to where you need to start parsing the CSV and then pass that stream into a CsvReader; you will probably have to set up the headers yourself

Now if that doesn't work, then modifying one of the constructors so it does being a sensible approach.

[2018-03-21 09:40] bazer commented on #35
Any news on the new release? We are also migrating to .net standard 2.0 and it would be nice to be able to use the nuget package without build warnings. I can try and help if there is something that needs fixing to get it out there.

[2018-03-21 15:16] phatcher commented on #35
@bazer I'll be pushing a V4 which will be netstandard 2.0 compliant in the next couple of days - unfortunately the day job has got in the way :-)

[2018-03-21 15:45] bazer commented on #35
@phatcher Cool, thanks!

[2018-03-23 10:27] murdockcrc commented on #48
@phatcher : I guess the latest version available in the NuGet Gallery (3.9.1) does not support .netstd 2.0? Is there a plan to update the nuget package itself with the latest code?

[2018-03-23 14:29] phatcher commented on #48
@murdockcrc Yes, I should get around to releasing a netstandard version this weekend

[2018-03-24 15:27] phatcher commented on #48
@yotewach, @murdockcrc I've just released 4.0 which supports netstandard 1.3 and 2.0.
Please file any problems as new issues

[2018-03-24 15:27] #48 closed

[2018-03-24 15:28] phatcher commented on #35
@renatobarbato, @bazer @bradleypatton @gehnster @eman1986 @IGx89
I've just released 4.0 which supports netstandard 1.3 and 2.0.
Please file any problems as new issues

[2018-03-24 15:28] #35 closed

[2018-03-25 14:21] bazer commented on #35
Thanks, will test it out!

[2018-05-03 01:11] VictorioBerra opened #55 "Can I use SQL Bulk Copy but exclude rows that don't met a certain set of criteria?"
Lets say using the [example here](https://github.com/phatcher/CsvReader#sql-bulk-copy) I did not want to include a row if the Column `OpenPrice` was `< 100.00`.

Is this possible?

[2018-05-03 04:46] phatcher commented on #55
@VictorioBerra Not easily no, since the ColumnHeader functionality is more about mapping CSV columns to SQL columns.

What I think would be needed is to extend CsvReader with a Func<Row, bool> delegate that would be evaluated by NextRecord, so it would only return true if the row is to be returned.

[2018-05-03 15:19] VictorioBerra commented on #55
@phatcher thanks for the quick reply. I will see what I can do.

[2018-05-10 16:33] kashiash opened #56 "error in parsing while " is firs char in row text and " is a part of column text"
this row is parsed correctly:

6224613;SINUS POLSKA, MIEDZYRZECZ;6224613;10020;TOTAL Deutschland GmbH Berlin;2018-05-07;20:28:01;DEU;3292;38179;TOTAL,Schwülper;TOTAL;19;FMI 35435;178109;;;FULLSERV;8183;70600092461381836;01140;high performance diesel fuel;74.33;EUR;1.1084;1.319;82.39;98.04;2186686583;0381700

this is not parsed correctly:
6224613;"SINUS POLSKA", MIEDZYRZECZ;6224613;10020;TOTAL Deut

[2018-05-11 09:25] phatcher commented on #56
Looks like it might be a bug - see if this case is covered off by a unit test

[2018-05-14 20:51] VictorioBerra commented on #55
I put my Func evaluate code here but im having some trouble "skipping" the current row depending on if it was true/false

https://github.com/phatcher/CsvReader/blob/master/code/LumenWorks.Framework.IO/Csv/CsvReader.cs#L1618

I tried SkipToNewLine() but that just skipped the very last line. I am using the reader like this currently:

[code]

[2018-05-19 17:19] VictorioBerra commented on #55
So I think maybe this works when placed after [this line](https://github.com/phatcher/CsvReader/blob/master/code/LumenWorks.Framework.IO/Csv/CsvReader.cs#L1621)?

[code]

[2018-05-31 14:12] DiaAWAY opened #57 "Difficult to find invalid data when using SqlBulkCopy"
A CSV file with content that is invalid (example: field is too long compared to the column its being inserted into) is difficult to error check as it does not give any information on row, position or column names.

Would be nice to be able to add a restriction to the Column, such as MaxLength, or that the error message gives a better hint regarding the location of the invalid data

[2018-06-15 17:19] bcronce commented on #37
1. This doesn't work for embedded line-breaks
2. This requires buffering the entire file in memory before processing it

Even for the cases where this would work, it would cause high GC pressure and promote a lot of Gen2 objects for all but the smallest of files that would not benefit much or at all of concurrency.

[2018-07-10 18:07] codermel opened #58 "FieldCount not increased when Adding custom column"
While I can get this sample code to print out the value of my custom column correctly, it does not work with SBC.  SBC will not see my new column.

Working sample code:
`
            using (StreamReader file = new StreamReader(_workingFile))
            {
                using (CsvReader csv = new CsvReader(file, true, '\t'))
                {
                    csv.GetFieldHeaders();

[2018-09-10 08:07] phatcher commented on #20
@setagana Thanks for the repo - I'll take a look

[2018-09-18 15:51] kirikintha opened #59 "Troubleshooting Column Limits in Bulk Copy"
Hello,

I have been using CSVReader successfully for two years now in a database import program I run, however I am running into an issue I need some help troubleshooting.

I have a CSV file I am importing from a third party with an obscene amount of columns. The current total column count in this file is 196. I realize this is an extreme edge case, but I cannot alter this file and the import is n

[2018-09-20 21:05] nadcraker opened #60 "Only processing one record?"
When I parse my CSV file, my CachedCsvReader only returns one Record in the Record property.

But if I look under the Raw View, Non-Public members, _items, I see all 314 records.

[2018-10-14 16:44] jakubmaguza commented on #4
Hello,
I belive this is no longer an issue. Can you check my commit if it's correct test? Or am I missing something? If you want to I can create PR with this test, or Just close it as Fixed :)

[2018-10-14 17:34] jakubmaguza commented on #59
Can you provide any test data? I create random data with 2000 columns and 2000 rows and there is no exception.

[2018-10-14 17:42] jakubmaguza commented on #56
I don't think this is an issue. `CsvReaderSampleData.SampleData1` contains data with quotation mark at first  character and it's being used in unit tests.

[2018-10-14 18:44] jakubmaguza commented on #56
https://github.com/phatcher/CsvReader/pull/61

I checked this issue, and it's as follow:
If you have quote at the beginning of your field, then parser expects that next quote will be field closing quote. The only case for test to pass is to escape quote inside and add quote at the end of field like this:
"good,Also\"good\",\"wrong\"\"Field\",goodToo".
In that case wrong Field will be parsed proper

[2018-10-15 15:51] kirikintha commented on #59
@jakubmaguza - I sure can, let me put together a sample. Thanks for the help!

[2018-10-18 05:58] jakubmaguza commented on #59
@kirikintha Hi. Unfortunatelly the url is broken. Can you send it one more time?

[2018-10-19 15:14] kirikintha commented on #59
@jakubmaguza - here is another attachment. Let's see how this goes. The columns have fairly long names in some places, and some eccentricity, but they are all quoted.

[Audit-Large Column List.txt](https://github.com/phatcher/CsvReader/files/2496387/Audit-Large.Column.List.txt)

[2018-10-19 15:47] jakubmaguza commented on #59
I took a quick look at this file and it's braking at last row, where you don't have comma as last character.

[2018-10-22 08:04] phatcher commented on #59
@kirikintha Looking at the sample test @jakubmaguza provided the issue is the parsing mode for the file.

By default the action on a missing field error is ParseError which means if you have a malformed line, the parser will throw an exception.

However you could set this to ReplaceByNull or ReplaceByEmpty, you may still have a issue with SQLBulkCopy as it is very particular about column types but

[2018-11-06 12:44] MNF opened #63 "Compare with CsvHelper"
Can you compare this library with [CsvHelper](http://joshclose.github.io/CsvHelper/)?
What are advantages/ disadvantages to use one library or another?
As a new user, why I should choose this library?
It will be good to add the answer to readme.md

[2018-11-15 03:46] papyr opened #64 "How use bulkCopy safely, if the CSV headers are not previously know"
Hi, can CsvReader bulkcopy CSV files if the previous headers are not known.

1. i.e. can it use the file name for table name
2. can it use the CSV headers for TableColumn headers?

[2018-11-28 08:43] czeshirecat opened #65 "Privacy issues in exception handling"
_csvReader.ParseError.
When checking my error log file the following is found
"OnCsvParseError The CSV appears to be corrupt near record '3174' field '1120 at position '1120'. Current raw data : "
this is then followed by many lines of the contents of the csv file which contains data about users.
It was brought to my attention that this might cause legal issues and I was asked to fix it.
Is there

[2018-11-28 08:51] jakubmaguza commented on #65
Hi,
You can simply wrap reader in try catch, and when this error appears show your custom message.

[2018-12-18 11:38] pepr opened #66 "Customizable CultureInfo"
Hello phatcher,

Firstly thanks for the nice tool.

Now, I am using the `CsvReader` for importing the data in the Czech environment, where `CultureInfo` prescribes using comma as a decimal separator. On the other hand, for CSV files, it is often the case when the data is _internacional_ and it uses dot as the decimal separator.

I am having issues with reading a file with `Decimal` values with dot

[2018-12-21 11:20] phatcher commented on #66
@pepr I'm open to a pull request with this in, I'll have a look but I'm not sure I can get to it myself.

[2018-12-24 10:22] Metalnem opened #67 "CsvReader.ReadNextRecord throws IndexOutOfRangeException"
**CsvReader.ReadNextRecord** throws an **IndexOutOfRangeException** when reading the file from the [attached archive]. You can run the following code to reproduce it (the **path** variable should contain the path to the extracted file):

[code]

Found via [SharpFuzz].

[attached archive]: https://github.com/phatcher/CsvReader/files/2707048/IndexOutOfRangeException.zip
[SharpFuzz]: https://github.c

[2019-01-03 19:44] INRIX-Mark-Gershaft commented on #38
Fixed by https://github.com/phatcher/CsvReader/commit/6e255008f730a67448801c47dae6145dd02f8bc9#diff-0d66ae192d7d3c3db093c6b8df11677b

[2019-01-03 19:44] #38 closed

[2019-01-03 19:46] INRIX-Mark-Gershaft commented on #38
Suggested unit-test:
using (var reader = new StringReader("1,1,2,Hello\r\n3,3,4,World"))
            {
                using (var csvReader = new CsvReader(reader, false, '\t', '\0', '\0', '#', ValueTrimmingOptions.All))
                {
                    while (csvReader.ReadNextRecord())
                    {
                        for (int i = 0; i < csvReader.FieldCount; i++)

[2019-02-11 01:05] agilmore30 opened #68 "Null versus Empty String fields"
Hi

First, thanks for an awesome piece of code. Very useful.

I am testing for null and empty string values. e.g.

Row 1 - "A",,"C" is returned by CSVReader as the string array [A","","C"]
Row 2 - "A","","C" is also returned as  [A","","C"]

There doesn't seem to be any distinction between a null string and an empty string.

I would like row 1 to return as ["A",null,"B"]

Empty string and null can

[2019-02-11 01:06] agilmore30 commented on #68
I'm using 4.0.0

[2019-02-26 18:47] fretje commented on #68
The CsvReader class actually has some constructors where you can supply a "nullvalue" parameter. This is by default an empty string. So that means that by default all empty strings are handled as null values. If you supply your own string there, e.g. "`_null_`" then only that string will be handled as a null value, and empty strings will be handled as empty strings.

See also https://github.com/ph

[2019-02-26 18:54] fretje commented on #67
That file that is attached doesn't look like a csv file... It looks like a binary file to me:

![image](https://user-images.githubusercontent.com/775707/53438395-16e49180-3a00-11e9-8425-9faf902c0cf8.png)

What exactly are you trying to accomplish?

[2019-02-26 18:57] fretje commented on #66
I had the same problem. I solved this by setting the current culture before reading the file, like so:

`            CultureInfo.CurrentCulture = CultureInfo.CreateSpecificCulture("nl-BE");
`

[2019-02-27 08:27] Metalnem commented on #67
I was trying to determine if the **ReadNextRecord** always throws **MalformedCsvException** on malformed CSV inputs, and I discovered that it can sometimes throw **IndexOutOfRangeException**. This binary file is just one of several inputs that I managed to generate.

[2019-02-28 10:06] phatcher commented on #66
@fretje Looks like a documentation improvement then rather than a code change

[2019-03-02 22:26] kirikintha commented on #59
Hi everyone, thank you kindly for the update on how to handle the parse errors - I am working with the missing field exception examples and getting farther down the road. I also did an analysis on the file and it is malformed so I am having to go in and try some variation on the DDL and see if I can make it work.

Thank you so much for your help and analysis!

[2019-03-13 15:49] RamunasAdamonis opened #69 "Can I easily trim tabs?"
Is there an option to easily trims tabs? For example `string.Trim()` trims tabs as well as whitespaces, but `csvReader.Configuration.TrimOptions = TrimOptions.Trim;` only trims whitespaces.

[2019-03-14 07:53] #69 closed, assigned to nobody

[2019-04-15 00:50] bbakermmc opened #70 "Static Fields?"
Is there a way to add static fields?
EX:  When loading from file and putting into the DB, we have a FileId that we generate before the insert, so we would want to add this, but it doesnt exist in the file.  The code seems to blow up if I try to do it.

[code]
ref:
[code]

[2019-06-09 17:02] jeddytier4 commented on #70
I'm having a very similar issue.  It appears that DefaultValue and OverrideValue are only applied when reading the CSV row by row.  I need them to be applied for bulkcopy as well.  I'm looking at the source, but can't see yet where the issue occurs.

[2019-06-12 14:48] gavdraper opened #71 "CurrentRecordIndex Does not Update if SkipEmptyLines is True and a row is empty"
For example

If you have a CSV file with 10 lines and lines 3 and 4 are empty with SkipeEmptyLines == true when it reads record 5 it will have an index of 3.

I'm trying to write logic to ignore the last X records using RowCount-CurrentRecordIndex to determine this but it falls down when the counter is not incremented for blank rows.

I'm happy to look at a pull request if this is change you would

[2019-07-18 19:20] #59 closed

[2019-10-07 17:33] HTI-DaraiusKeeka commented on #70
Hi @bbakermmc
Was there any solution to this please?

[2019-10-07 17:46] bbakermmc commented on #70
@HTI-DaraiusKeeka Since there was no response looks like I ended up using a diff framework:
https://github.com/Cinchoo/ChoETL

REF:

[code]

[2019-10-07 17:56] HTI-DaraiusKeeka commented on #70
Thank you.

[2019-10-08 06:20] HTI-DaraiusKeeka opened #72 "Error: 'FileId' field header not found. Parameter name: name"
Hi

I am new to LumenWorks, my apologies if I have missed something in the documentation.

I have a CSV file with 200 off columns. Typically there would be close to 65000 rows. Importing these rows into a SQL Database Table was fine, until I added a new field in the SQL Database Table called "FileId" - which does not exist in the CSV File. I wish to Inject this field and the relevant value.

How d

[2019-11-28 11:18] bornfromanegg opened #73 "Error when reading file with Quoted field at end of first row and SkipEmptyLines=false"
If you attempt to read a file containing the following:

[code]

using the code:

[code]

Then you receive the error:

[code]

Looking at the stacktrace suggests that the reader thinks it is trying to read a missing field. And in fact, if you set MissingFieldAction to ReplaceByNull, then the error goes away, but the reader actually reads _three_ rows. An entirely blank row is "read" inbetween row

[2020-03-03 04:36] DIYsciBorg opened #74 "Build error MSB4057: The target "Restore" does not exist in the project."
Using Visual Studio 2019.
build engine 14.0.25420.1
from command prompt at the CsvReader-master folder (freshly unzipped from github archive)
Typing build I get back:

Checking Paket version (downloading latest stable)...
Hash file of version 5.242.2 found in cache.
Copying version 5.242.2 from cache.
Done in 2.14 second(s).
Paket version 5.242.2
Extracted Paket.Restore.targets to: C:\Users\Emery

[2020-05-01 09:43] #51 closed

[2020-07-25 17:37] JRAndreassen opened #75 "Annotated CSV support ?"
Hi...
[Any plans on supporting Annotated CSV ?](https://v2.docs.influxdata.com/v2.0/reference/syntax/annotated-csv/extended/)

Something like this :
[code]

[2020-11-20 00:46] greenjaed opened #76 "Remove new line characters when giving trimmingOptions"
Currently, CsvReader only trims spaces and tabs when given trimmingOptions.  It does not trim any of the new line characters. These are white space characters and should be trimmed.

[2020-11-27 20:44] lancasteradam commented on #74
I am also encountering this build issue. @phatcher , could you offer some advice? Are there some minor changes needed? Could you also specify in the readme.md what OS and .Net versions are required to build successfully?

Thanks,
Adam

[2020-11-27 21:06] lancasteradam opened #77 "CsvReader.HandleParseError should not throw an exception when the DefaultParseErrorAction is RaiseEvent"
Looking into https://github.com/sqlcollaborative/dbatools/issues/6899 it seems that CsvReader.HandleParseError is not allowing the parsing to continue when the DefaultParseErrorAction is ParseErrorAction.RaiseEvent. Instead, an exception is thrown when the caller had intended to only raise events and continue processing the csv file.

The relevant code is at [CsvReader line 1788](https://github.co

[2021-01-29 12:00] jkhalid0201 opened #78 "Allow special characters in column headers"
Is it possible to allow special character in column header, i.e. #MyHeader is not a valid column header, how to make it valid column header.

[2021-05-05 11:36] GrabASalad opened #79 "Custom LineBreak Characters as well as `r`n"
please could you include support for custom line break characters whilst reading the csv files. My data supplier sends the files with a  0x0c5 'Å' character as the line break instead of `r`n which is a real pain to get around. if you could add custom line breaks into the code then i would be most grateful

Cheers
D

[2021-05-05 16:14] GrabASalad opened #80 "Custom line break support"
please could you include support for custom line break characters whilst reading the csv files. My data supplier sends the files with a  0x0c5 'Å' character as the line break instead of `r`n which is a real pain to get around. if you could add custom line breaks into the code then i would be most grateful

Cheers
D

[2021-05-05 16:14] #80 closed, assigned to nobody

[2021-05-05 16:15] GrabASalad commented on #80
oops duplicated the last one, sorry

[2021-05-07 10:14] Arbelac opened #81 "Install-Package : A parameter cannot be found that matches parameter name 'Version'."
Hi,

when attempting to install then I got the following the error message.
note:  we have powershell 5.1 on win10

Install-Package LumenWorksCsvReader -Version 4.0.0
Install-Package : A parameter cannot be found that matches parameter name 'Version'.
At line:1 char:37
+ Install-Package LumenWorksCsvReader -Version 4.0.0
+                                     ~~~~~~~~
    + CategoryInfo          :

[2021-07-12 08:04] drcolombo commented on #81
Install-Package cmdlet doesn't have the '-Version' parameter at all. Please, check the accepted parameters using 'Get-Help Install-Package'

[2021-07-12 13:35] drcolombo commented on #79
Hi @GrabASalad . I'm afraid, this repository is not maintained anymore. Please, have a look at my fork at https://github.com/drcolombo/CsvReader, as well as https://www.nuget.org/packages/LumenWorksCsvReader2/. I've recently implemented your request.

[2021-07-12 13:39] drcolombo commented on #74
@lancasteradam , @DIYsciBorg please verify that based on my fork: https://github.com/drcolombo/CsvReader. I believe this repository is not maintained anymore and I've already updated the whole project to support FAKE 5 last year.

[2021-08-31 15:48] vikingcodes commented on #39
@phatcher Is duplicated Colum issue resolved?

[2021-08-31 15:56] dkt2000 commented on #39
@phatcher duplicate Column issue is resolved? If Yes then what's solution ?

[2022-05-13 13:00] graysuit opened #82 "."

[2022-07-22 05:49] potatoqualitee commented on #77
It looks like someone forked the repo and fixed the blocker if you'd like to implement

https://github.com/phatcher/CsvReader/issues/74#issuecomment-878288124

oh la la!

/cc @mike347

[2022-07-24 15:31] mike347 commented on #77
Yep.. I actually looked at this but I was under the impression the dbatools package already includes this drop-in replacement. The DLL included shows version 4.0, which is the version the drop in replacement uses -- the original DLL stopped at version 3.8.0. Can you confirm if this is the case or not?

Looking at the repo for the drop in replacement, it seems like it still errors out because in my

[2022-08-04 15:37] #82 closed, assigned to nobody